*{
    margin:0%;
    padding: 0%;
    
    
}
body{
    background-color: rgb(17, 17, 36);
    color: whitesmoke;
    font-family:serif;
    
 


}
.header{
   
    width: 100%;
    background-color:black;
    height: 60px;
    padding-top: 40px;



}
.navbar a{
   font-size: 15px; 
   color: white;
   font-weight: 700;
   text-decoration-style: none;
   margin-left:250px;
   transition-duration: 0.2s;
   
}

.navbar a:hover,
.navbar a.active{

    color: rgb(184, 131, 184);
    
}


.image{
    float:right;

    
    
}
span{
    color: rgb(163, 96, 163);
}
.text{
    float:left;
}
h1{font-size: 100px;
    
}


/* ---------about------- */
.lanterns{
    max-width: 70px;
    max-height: fit-content;
}
.about{
   
    font-family:sans-serif;
  

}
.skills{
 margin-top: 100px;
    
}
.contacts{
    margin-top: 100px;
}
.projects{
    margin-top: 100px;
}